adblock @ file:///build/python-adblock/src/python-adblock-0.6.0/target/wheels/adblock-0.0.0-cp37-abi3-manylinux_2_34_x86_64.whl#sha256=e8411ed551974ee79ee25e6704912546b660f3ae3e80553531d93affff1485df
appdirs==1.4.4
argcomplete==3.6.3
attrs==26.1.0
autocommand==2.2.2
beautifulsoup4==4.14.3
btrfsutil==6.19
CacheControl==0.14.4
certifi==2026.2.25
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.6
click==8.3.2
configobj==5.0.9
cryptography==46.0.5
cssselect==1.4.0
cupshelpers==1.0
dbus-python==1.4.0
distro==1.9.0
evdev==1.9.3
filelock==3.25.2
gpg==2.0.0b25
idna==3.11
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lit==22.1.1.dev0
lockfile==0.12.2
lxml==6.0.2
MarkupSafe==3.0.3
more-itertools==10.8.0
msgpack==1.1.2
nanobind==2.12.0
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.4.3
oauthlib==3.3.1
OpenTimelineIO==0.18.1
packaging==26.0
pillow==12.1.1
pipx==1.10.1
pkg_resources==81.0.0
platformdirs==4.9.4
psutil==7.2.2
pyaaf2==1.7.1
pybind11==3.0.2
pycairo==1.29.0
pycparser==3.0
pycups==2.0.4
pygdbmi==0.11.0.0
PyGObject==3.54.5
PyOpenGL==3.1.10
PyQt5==5.15.11
PyQt5_sip==12.18.0
pyserial==3.5
PySide6==6.10.2
PySocks==1.7.1
python-xlib==0.33
pyudev==0.24.4
PyYAML==6.0.3
referencing==0.37.0
Reflector==2023.6.28.0.36.1
requests==2.32.5
rpds-py==0.30.0
scour==0.38.2
sentry-sdk==2.54.0
setuptools==82.0.1
shiboken6==6.10.2
shiboken6-generator==6.10.2
six==1.17.0
smbus==1.1
solaar==1.1.19
soupsieve==2.8.3
TBB==0.2
tinycss2==1.5.1
torbrowser-launcher==0.3.7
typing_extensions==4.15.0
urllib3==2.6.3
userpath==1.9.2
validate==5.0.9
webencodings==0.5.1
wheel==0.46.3
zstandard==0.25.0
